/**** @Author: Francisco Zapata ****/


/** Reset the document **/

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-snap-type: x mandatory;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}


/** Custom Properties **/

:root {
    --fuenteHeading: 'Open Sans', sans-serif;
    --fuenteParrafo: 'PT Sans', sans-serif;
    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #FFFFFF;
    --negro: #000000;
}


/** Globals **/

body {
    font-size: 16px;
    font-family: var(--fuenteParrafo);
    line-height: 1.6;
}


/** Globales **/

.contenedor {
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 2.2rem;
}

img {
    max-width: 100%;
}


/** Utilidades **/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}


/** Header **/

.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    height: 65rem;
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--blanco);
    /* margin-top: -8rem; */
}

.barra {
    padding: 6rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.barra a {
    color: var(--blanco);
}

.barra h1 {
    font-weight: 400;
}

.barra span {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
    }
}

@media (min-width: 992px) {
    .navegacion ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
}

.navegacion a {
    color: var(--blanco);
    font-size: 1.9rem;
}

.mensaje-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensaje-header h2 {
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .mensaje-header {
        padding-top: 8rem;
    }
}

.mensaje-header p {
    font-size: 2rem;
    padding-top: 2rem;
}

main,
aside {
    margin-top: 4rem;
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 2rem 0;
    border-radius: .5rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
    margin-bottom: 3rem;
}

.widget-curso h4,
.entrada__contenido h4 {
    margin: 1rem 0;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso p {
    font-size: 1.8rem;
}

.widget-curso__label {
    font-weight: 700;
}

.widget-curso__info {
    font-weight: 300;
}

.footer {
    background-color: var(--negro);
    margin-top: 4rem;
}

.footer .barra {
    padding: 3rem;
}

.footer h1 {
    font-size: 3rem;
}

.footer a {
    font-size: 1.4rem;
}


/*** TÍTULOS PÁGINAS ***/

.nosotros__title,
.cursos__title,
.contacto__title {
    margin: 3rem 0;
}


/*** NOSOTROS ***/

@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.nosotros__paragraph {
    padding-top: 1rem;
}


/*** CURSOS ***/

@media (min-width: 768px) {
    .cursos__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.cursos__item {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--gris)
}

.cursos__item:first-of-type {
    padding-top: 0;
}

.cursos__item:last-of-type {
    padding-bottom: 0;
    border: none;
}

@media (min-width: 992px) {
    .cursos__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.cursos__texto h4 {
    padding-top: 1rem;
}

.cursos__texto p {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .cursos__texto p {
        padding-top: 2rem;
    }
}

.cursos__texto .cursos__texto--paragraph {
    font-size: 1.8rem;
}

.cursos__texto span {
    font-weight: bold;
}


/***ENTRADA BLOG **/

.entrada__contenido--paragraph {
    padding-top: 2rem;
}

@media (min-width: 992px) {
    .entrada {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .entrada__contenido--paragraph:first-of-type {
        padding-top: 0;
    }
}


/*** CONTACTO ***/

.contacto__bg {
    background-image: url(/img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.contacto__formulario {
    width: 90%;
    background-color: var(--blanco);
    padding: 3rem;
    margin: -5rem auto 0 auto;
}

@media (min-width: 768px) {
    .contacto__formulario {
        padding: 5rem;
    }
}

.contacto__formulario label {
    display: block;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}

.campo__field--textarea {
    height: 20rem;
}